<div class="my-5">
  <h1 class="display-4">
    This project implements:
  </h1>
</div>
<div class="container my-5">
  <div class="card-deck">
    <div class="card border-primary mb-3" *ngFor="let tech of techs">
      <div class="card-header bg-primary border-primary text-center text-white">{{tech.name | uppercase}}</div>
      <div class="card-body d-flex flex-column align-items-center text-jusitfy">
        <p class="card-text">{{tech.desc}}</p>
      </div>
      <div class="card-footer bg-transparent border-primary">
          <a href="#" class="btn btn-block btn-outline-primary">Learn more...</a>
      </div>
    </div>
  </div>
</div>

